aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiohttp-utils==3.2.1
aiosignal==1.3.1
aiosmtplib==2.0.2
alabaster==1.0.0
annotated-types==0.7.0
anyio==4.6.2.post1
argcomplete==3.5.1
asgiref==3.8.1
async-property==0.2.2
asyncio==3.4.3
attrs==24.2.0
attrs-strict==1.0.1
Authlib==1.3.2
-e git+https://github.com/ekoi/automated-curation-platform@2113cf5429295a401010988892583a18f2cc3ac2#egg=automated_curation_platform
babel==2.16.0
backports.entry-points-selectable==1.3.0
bagit==1.8.1
bibtexparser==1.4.2
black==24.10.0
blinker==1.8.2
certifi==2024.8.30
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.0
click==8.1.7
cryptography==43.0.3
datamodel-code-generator==0.22.1
Deprecated==1.2.14
deprecation==2.1.0
dnspython==2.7.0
docutils==0.21.2
dynaconf==3.2.6
ecdsa==0.19.0
email_validator==2.2.0
emoji==2.14.0
et==0.0.2
fastapi==0.115.4
fastapi-events==0.12.1
fastapi-mail==1.4.1
fastapi-tusd==0.100.2
fastapi_keycloak==1.0.11
filelock==3.16.1
Flask==3.0.3
frozenlist==1.5.0
genson==1.3.0
googleapis-common-protos==1.59.1
grpcio==1.67.1
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.6
httplib2==0.22.0
httpx==0.27.2
hypothesis==6.116.0
idna==3.10
imagesize==1.4.1
importlib_metadata==8.5.0
inflect==5.6.2
iso8601==2.1.0
isort==5.13.2
itsdangerous==2.2.0
Jinja2==3.1.4
jmespath==1.0.1
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.17.3
jsonschema-spec==0.1.6
jwcrypto==1.5.6
lazy-object-proxy==1.10.0
lxml==5.3.0
MarkupSafe==3.0.2
msgpack==1.1.0
multidict==6.1.0
mypy-extensions==1.0.0
openapi-schema-validator==0.4.4
openapi-spec-validator==0.5.7
opentelemetry-api==1.28.0
opentelemetry-exporter-jaeger==1.21.0
opentelemetry-exporter-jaeger-proto-grpc==1.21.0
opentelemetry-exporter-jaeger-thrift==1.21.0
opentelemetry-instrumentation==0.49b0
opentelemetry-instrumentation-asgi==0.49b0
opentelemetry-instrumentation-fastapi==0.49b0
opentelemetry-sdk==1.28.0
opentelemetry-semantic-conventions==0.49b0
opentelemetry-util-http==0.49b0
packaging==24.1
pathable==0.4.3
pathspec==0.12.1
platformdirs==4.3.6
polling2==0.5.0
prance==23.6.21.0
propcache==0.2.0
protobuf==4.25.5
psutil==6.1.0
public==2020.12.3
pyasn1==0.6.1
pycparser==2.22
pydantic==2.9.2
pydantic-settings==2.6.1
pydantic_core==2.23.4
Pygments==2.18.0
pyparsing==3.2.0
pyrsistent==0.20.0
PySnooper==1.2.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-keycloak==4.7.0
python-magic==0.4.27
python-mimeparse==2.0.0
python-multipart==0.0.17
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
rfc3339-validator==0.1.4
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.12
self-certifi==1.0.0
sentry-sdk==2.18.0
Sickle==0.7.0
simple-file-checksum==1.3.1
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
Sphinx==8.1.3
sphinx-rtd-theme==3.0.1
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
SQLAlchemy==2.0.36
sqlmodel==0.0.22
starlette==0.41.2
swh.core==3.6.3
swh.deposit==1.4.4
swh.model==6.16.0
tenacity==9.0.0
thrift==0.21.0
toml==0.10.2
tomli==2.0.2
tuspyserver==1.3.2
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.32.0
Werkzeug==3.1.2
wrapt==1.16.0
yarl==1.17.1
zipp==3.20.2
sphinx
sphinx-rtd-theme